/* Mini-reset */
body, table, tbody, tfoot, thead, tr, th, td, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: Ubuntu,sans-serif;
	font-weight: 300;
	background: #fafafa url("/img/css/generated.png") 0 0 repeat;
	font-size: 14px;
	color: #656565;
}

	body:before { /* top shadow */ 
		content: ""; 
		position: fixed; 
		top: -10px; 
		left: -10px; 
		width: 110%; 
		height: 10px;  
		box-shadow: 0px 0px 10px rgba(0,0,0,.3);  
		z-index: 100; 
	}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

h1 {
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
	margin: 0 0 50px 0;
}

h2, h3 {
	margin: 15px 0 0;
	padding-bottom: 15px;
	font-weight: 300;
	color: #558ed5;
}

section {
    margin: 50px auto 0;
    max-width: 1020px;
    padding: 20px;
}

article {
    float: right;
    max-width: 750px;
    min-width: 300px;
    width: -webkit-calc(100% - 250px - 20px);
    width: -o-calc(100% - 250px - 20px);
    width: calc(100% - 250px - 20px);
}

aside {
    float: left;
    max-width: 250px;
    width: 250px;
}

ul {
	list-style-type: none;
}

li {
	border-bottom: solid 1px #efefef;
}

li:last-child{
	border: 0;
}

a {
	color: #558Ed5;
	text-decoration: none;
	border-radius: 3px;
}

a:hover {
	text-decoration: underline;
}

.post__title a {
	font-weight: 300;
	padding: 0 3px;
}

.post__time {
	float: right;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #656565;
}

img {
	-webkit-box-shadow: 0 4px 4px -2px #aaa;
	-moz-box-shadow: 0 4px 4px -2px #aaa;
	box-shadow: 0 4px 4px -2px #aaa;
	background: #fafafa;
	outline: solid 1px #ccc;
	padding: 5px;
}

aside img {
	width: 100px;
	height: 100px;
}

article img {
	width: 400px;
}

p {
	line-height: 22px;
	text-indent: 20px;
	margin-bottom: 30px;
}

footer {
	border-top: solid 1px #efefef;
	color: #bbb;
	margin-top: 50px;
	font-style: italic;
}

footer p {
	text-indent: 0;
	margin-top: 5px;
}

pre,code {
    font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    padding:10px;
    background-color:#eee;
    overflow:auto;
    margin: 20px 0;
    border-left: solid 1px #999;
}