<!DOCTYPE html>
<html lang="en" class="page  {{ page.page-class }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	
	<title>{{ page.title }} &ndash; Neofyt.com</title>
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic"/>	
	<link rel="stylesheet" href="/css/layout.css">
	
	<link rel="shortcut icon" href="/icon.png">

</head>
<body>

	<div class="wrapper">
		
		<section class="clearfix">

			<h1>Neofyt.com&hellip;</h1>
		    
		    <aside>
		      <img src="http://www.neofyt.com/assets/img/Neofyt.jpg" class="avatar__img"/>
		    </aside>
		    
		    <div class="content">
		        {{ content }}
		    </div>
		    
		</section>

	</div>

</body>
</html>